@model GalleryBlog.Models.Artist

@{
    ViewBag.Title = "Edit";
}
<div class="col-sm-10">

    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="width: 50%; float: left;">
            <div class="form-horizontal">
                <h4>Artist</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShowOnGallery, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ShowOnGallery)
                            @Html.ValidationMessageFor(model => model.ShowOnGallery, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShowOnArtists, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ShowOnArtists)
                            @Html.ValidationMessageFor(model => model.ShowOnArtists, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style="width: 100%;" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control", style = "width: 400px; height: 80px;" })
                        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.TextAreaFor(model => model.Bio, new { @class = "form-control", style = "width: 400px; height: 200px;" })
                        @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Symbol, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Symbol, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Symbol, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContainerDataCategory, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.ContainerDataCategory, new { @class = "form-control", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.ContainerDataCategory, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContainterClasses, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.ContainterClasses, new { @class = "form-control", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.ContainterClasses, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-7">
                        <input type="submit" value="Save" class="btn btn-default btn-sm" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning btn-sm" })
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 50%; float: left;">
            <h4>Artworks</h4>
            <hr />
            <input type="button" id="addArtWork" data-artist="id=@Model.Id" class="btn btn-default btn-sm" value="Add" title="Add Art"/>
            <div id="ArtWorkItems" data-aw-target="1">
                @Html.Partial("_ArtWorks", Model.ArtWorks)
            </div>
         
        </div>
    }

    <div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(function () {
        $('#addArtWork').on("click",function(){
            $.ajax({
                type: "POST", // Are you sure you want POST and not GET ?
                data: $(this).data('artist'),
                url: "@Url.Action("AddArtwork","Artists")",
                dataType: "json", // If you know the return value type, explicitely type it

                success: function (data) {
                    var $target = $('[data-aw-target]');
                    var $newHtml = $(data);
                    $target.replaceWith($newHtml);
                    $newHtml.effect("highlight");
                }
            });
        });
    });
    </script>

}
