@model IEnumerable<GalleryBlog.Models.ArtistViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="col-sm-10">

    <h2>List of Artists</h2>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default btn-info btn-sm" })
        @Html.ActionLink("Maintenance", "Index", "Maintenance", null, new { @class = "btn btn-default btn-info btn-sm" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowOnGallery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowOnArtists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainerDataCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowOnGallery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowOnArtists)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) 
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.ShortBio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContainerDataCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>