@model IEnumerable<GalleryBlog.Models.Artwork>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            <img alt="@item.ImageAlt" src="~/Content/Images/thumb/@item.ImageName" title="@item.ImageTitle" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "ArtWorks" , new { id = item.Id }, new { @class = "btn btn-default btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", "ArtWorks", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
        </td>
    </tr>
}

</table>
