@model List<GalleryBlog.Models.ArtistListItem>
@{
    ViewBag.Title = "Artists";
    Layout = "~/Views/Shared/_LayoutArtists.cshtml";

}
<div class="col-sm-8">

    <h2>Artists</h2>
    <div id="filters" class="button-group">
        <button class="button is-checked" data-filter="*">show all</button>
        <button class="button" data-filter=".photo">Photos</button>
        <button class="button" data-filter=".painting">Paintings</button>
        <button class="button" data-filter=".photo, .painting">Photos and Paintings</button>
        <button class="button" data-filter=":not(.painting)">Not Photos</button>
        <button class="button" data-filter=":not(.photo)">Not Paintings</button>
        <button class="button" data-filter=".mixedmedia">Mixed Media</button>
        <button class="button" data-filter=".sculpture">Sculpture</button>
        <button class="button" data-filter="sizeGreaterThan50">size > 50</button>

    </div>
    <h2>Sort</h2>
    <div id="sorts" class="button-group">
        <button class="button is-checked" data-sort-by="original-order">original order</button>
        <button class="button" data-sort-by="name">name</button>
        <button class="button" data-sort-by="symbol">symbol</button>
        <button class="button" data-sort-by="size">size</button>
        <button class="button" data-sort-by="category">category</button>
    </div>
    <div class="isotope">
        @foreach (var item in Model)
        {
            var divClass = "element-item " + @item.ContainterClasses;
            var pathImage = @Url.Content("~/Content/Images/elements/" + @item.ImageName);
            
            <div class="@divClass" data-category="@item.ContainerDataCategory">
                <a href="@Url.Action("Artist", "Home", new {id = @item.Number})">
                    <h3 class="name">@item.ArtistName</h3>
                    <p class="symbol">@item.Symbol</p>
                    <img alt="" src="@pathImage" />
                    <p class="number">@item.Number</p>
                    <p class="size">@item.ImageSize</p>
                </a>
            </div>
        }
    </div>
</div>
<div class="col-sm-1">
</div>