@model  List<GalleryBlog.Models.GalleryImage>
<style type="text/css">
    
    body {
    background: #f7f7f7 url(../../Content/imagewall/pinstripe.gif) repeat top left;
    color: #000;
    font-family: Georgia, "Arial",sans-serif;
    font-size: 12px;
}

</style>
<div class="col-sm-9">
    <div class="iw_wrapper">
        <ul class="iw_thumbs" id="iw_thumbs">
            @{
                foreach (var item in Model)
                {
                    var pathfull = @Url.Content("~/Content/Images/art/" + @item.ImagePath);
                    var paththumb = @Url.Content("~/Content/Images/thumb/" + @item.ImagePath);
                    <li><img src="@paththumb" data-img="@pathfull" alt="@item.ImageAlt" /><div><a href="@Url.Action("Work", "Home", new {id = @item.Id})"><h3>@item.ImageTitle</h3></a><p>@item.ImageDescription</p></div></li>
                }
            }
        </ul>
    </div>
    <div id="iw_ribbon" class="iw_ribbon">
        <span class="iw_close"></span>
        <span class="iw_zoom">Click thumb to zoom</span>
    </div>
</div>
@section scripts
{
 
}