@{
    ViewBag.Title = "Home Page";
}

<div class="col-sm-9">
    <video autoplay="autoplay" width="100%" height="auto" id="bgVideo" poster="@Url.Content("~/Content/Video/placeholder.png")" loop="loop" controls>

        <source class="myMediaElement" type="video/mp4" src='@Url.Content("~/Content/Video/mjg.mp4")'>
        <source class="myMediaElement" type="video/webm" src='@Url.Content("~/Content/Video/mjg.webm")'>
        <span data-sfref="[images|OpenAccessDataProvider]9555a2ae-822d-4802-9db4-76ee82104faa" class="sfImageWrapper">
            <img style="width:100%; height:auto" src='@Url.Content("~/Content/Video/placeholder.png")?sfvrsn=2' displaymode="Original" alt="" />
        </span>

    </video>
    <h1>The Site</h1>
    <p class="lead">A cool gallery site.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <h2>Gallery</h2>
    <p>
        Lots of pictures to enjoy.
    </p>
    <p><a class="btn btn-default" href="@Url.Action("Gallery", "Home")">Gallery &raquo;</a></p>


</div>