@model GalleryBlog.Models.Post
@{
    ViewBag.Title = "Post";
}


<div class="col-sm-10">

    <h2>Post</h2>
    <p>@Model.Title</p>
    
    @*@Html.Raw(@System.Web.HttpUtility.HtmlDecode(@Model.Body))*@
    @Html.Raw(@Model.Body)
</div>

