
@{
    ViewBag.Title = "Maintenance";
}

<h2>Maintenance Index</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Blog</h2>
        <p>These are your ideas and discussions.</p>
        <p>@Html.ActionLink("Blog »", "Index", "Blog", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Artists</h2>
        <p>All artists; information and how displayed.</p>
        <p>@Html.ActionLink("Artists »", "Index", "Artists", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Artworks</h2>
        <p>Usually updated via artist's management page.</p>
        <p>@Html.ActionLink("Artworks »", "Index", "Artworks", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Users</h2>
        <p>All registered users.</p>
        <p>@Html.ActionLink("Users »", "Index", "Users", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Content</h2>
        <p>How page content displays.</p>
        <p>@Html.ActionLink("Content »", "Index", "Content", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
