@using GalleryBlog.Extensions
@model GalleryBlog.Models.Artist

@{
    ViewBag.Title = "Artist";

    Html.RegisterStyles("~/Content/artists/artists.css");
    Html.RegisterStyles("~/Content/slider/anythingslider.css");
    Html.RegisterStyles("~/Content/slider/slider-custom.css");

    Html.Register("~/bundles/artists");


}

<div class="col-sm-10">
    
    <div style="width: 100% !important; display: block !important; padding-bottom: 20px;">

        <div style="width: 20%; float: left;">
            <h2>The Artist</h2>
            @Html.DisplayFor(model => model.Name)<br/>
           
        </div>
        <div style="width: 80%; float: left; ">
            <h2>Biography</h2>
            @Html.DisplayFor(model => model.Bio)
        </div>
        
    </div>
    <hr />
    <div style="width: 100% !important; display: block !important;margin-Top: 20px;">
        <div style="float: left; width: 75%; height: 500px; margin: 20px 0 0 0; border: none;">
            <ul id="slider">
                @foreach (var item in Model.ArtWorks)
                {

                    string title = item.ImageAlt;
                    if (item.Price > 0D)
                    {
                        title += " : Available for purchase.";
                    }
                    <li><img src="~/Content/Images/art/@item.ImageName" alt="@item.ImageAlt" title="@title"></li>
                }
            </ul>
        </div>
    </div>
</div>
@section scripts
{

}
@section ascripts
{
    @Scripts.Render("~/bundles/slider")

    <script type="text/javascript">
        $(function () {

            $('#slider').anythingSlider({
                expand: false,
                resizeContents: false,
                aspectRatio: true,
                showMultiple: 1,
                changeBy: 1
            });

        });

    </script>
}
