@{
    ViewBag.Title = "Home Page";
}

<div class="col-sm-10">
    
        <video autoplay="autoplay" style="width:100%; height: auto; z-index: 22;" onerror="javasciprt: $('#errorVidDiv').show();"  id="bgVideo" poster="@Url.Content("~/Content/Video/placeholder.png")" loop="loop" >

            <source class="myMediaElement" type="video/mp4" src='@Url.Content("~/Content/Video/mjg.mp4")'>
            <source class="myMediaElement" type="video/webm" src='@Url.Content("~/Content/Video/mjg.webm")'>
            <span data-sfref="[images|OpenAccessDataProvider]9555a2ae-822d-4802-9db4-76ee82104faa" class="sfImageWrapper">
                <img style="width:100%; height:auto" src='@Url.Content("~/Content/Video/placeholder.png")?sfvrsn=2' displaymode="Original" alt="" />
            </span>
           
        </video>
    <div id="errorVidDiv" style="display: none">
        <div class="alert-danger">Video will not play here. This site is best seen with Chrome, Firefox, Safari, or Opera.</div>
    </div>
    @{
        var ConfirmClass = "ConfirmReminderOff";
        if (ViewBag.ConfirmReminder == 1)
        {
            ConfirmClass = "ConfirmReminder";
        }
    }
    <div id="ConfirmReminder" class="@ConfirmClass">
        <h3>Don't forget to check your email to confirm your registration</h3>
        <h4>You might find the confirmation email in your junk folder.</h4>
        <input id="ConfirmReminderClose" class="btn btn-xs" type="button" value="OK" />
    </div>

    <div id="fadedTextBg">

        </div>
        <div id="TextBg" style="position: absolute; display: inline-block; z-index: 42; top: 45px; left: 5%; color: white; width: 90%; height: 120px;">
            <h1>MJG Gallery</h1>
            <p class="lead">A Cabagetown gallery. A site to showcase our events and related news, and a way to catch my thoughts through my blog.</p>
        </div>
        <hr />
        <h4>MJG Gallery focuses on original work including oil, acrylic, encaustic painting, photography and sculpture as well as mixed-media. Mark has personally known many of the gallery artists over the years and prides himself on "carrying artwork he honestly likes by people he honestly likes."</h4>
        <h4>Explore the site through the menu at the left.</h4>
        <h5>Find the gallery on the various social media sites as well.</h5>



</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $('#ConfirmReminderClose').on('click', function() {
                $('#ConfirmReminder').hide();
            });
            $("#TextBg").mouseover(function () {
                $("#fadedTextBg").addClass("isLessFaded");
            });
            $("#TextBg").mouseout(function () {
                $("#fadedTextBg").removeClass("isLessFaded");
            });

        });
    </script>
}