<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MJG Gallery</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/imagewall")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/isotope")
    @Scripts.Render("~/bundles/imagewall")

</head>
<body>
    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="is-active">@Html.ActionLink("Home", "Index", "Home", null, new { @Class = "home" })</li>
                            <li>@Html.ActionLink("About", "About", "Home", null, new { @Class = "about" })</li>
                            <li>@Html.ActionLink("Work", "Work", "Home", null, new { @Class = "work" })</li>
                            <li>@Html.ActionLink("Gallery", "Gallery", "Home", null, new { @Class = "portofolio" })</li>
                            <li>@Html.ActionLink("Blog", "Blog", "Home", null, new { @Class = "services" })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @Class = "contact" })</li>
                        </ul>
                    </div><!--/.nav-collapse -->
                    <div class="social">
                        <a href="https://www.facebook.com/pages/MJG-Gallery-by-Mark-Jeremy-Gleberzon/238062092892271"><i class="icon-facebook"></i></a>
                        <a href="https://twitter.com/mjggallery"><i class="icon-twitter"></i></a>
                        <a href="http://instagram.com/mjggallery/"><i class="icon-camera-retro"></i></a>
                        <a href="https://www.pinterest.com/markaloo/"><i class="icon-pinterest-sign"></i></a>
                    </div>

                </div>
            </div>
        </div>
       
        @RenderBody()
   
    </div>
    <div class="row">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MJG Gallery</p>
        </footer>        
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
